<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enfermeiros</title>
</head>
<body>
<div class="row">
    <div class="teste col-md-6">
        <input type="text" class="form-control pesquisar" id="mySearch" onkeyup="myFunction()" placeholder="Pesquisar ...">
        <form method="POST" action="/ingredientes/listar">
            <div class="form-group" th:each="enfermeiro: ${enfermeiros}">
                <ul id="myMenu">
                    <li>
                        <input class="form-check-input" type="checkbox" name=?????? th:value="${enfermeiro.idEnfermeiro}" th:id="${enfermeiro.coren}">
                        <label class="form-check-label" th:for="${enfermeiro.coren}" th:text="${enfermeiro.coren}"></label>
                    </li>
                </ul>
            </div>

    </div>
</div>
<button type="submit" class="btn btn-primary">Pesquisar</button>
</form>
</body>
</html>